.searchBar { position: relative; width:240px; }
.searchBar input { border:none; background-color:#fff; display:block; width: 100%; height: 50px; box-sizing: border-box }
.searchBar img { position: absolute; top: 2px; right: 5px }